:root {
  --green: #e2ff3a;
  --subgreen: #a5d971;
  --lightgreen: #eff285;
  --black: #000000;
  --subblack: #012623;
  --pink: #f21b1b;
  --mainfont: "Nanum Pen Script", cursive;
  --subfont: "Noto Sans KR", sans-serif;
}
